<div class="navbar">
   
    <!-- Navbar logo -->
    <div class="nav-header">
      <div class="nav-logo">
        <a href="#">
          <img id="logo" src="https://i.ibb.co/Ph9cJSC/logo-purple.png" width="100px" alt="logo">
        </a>
      </div>
    </div>
     
    <!-- responsive navbar toggle button -->
    <input type="checkbox" id="nav-check">
    <div class="nav-btn" >
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
   
    <!-- Navbar items -->
    <div class="nav-links">
  
      <a routerLink="/user/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/user/areaofinterest" routerLinkActive="active">Courses</a>
      <a (click)="onLogout()">Logout</a>
      <!-- <button class="loginBtn">Login</button> -->
    </div>
   
  </div>  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>
<body>
    <p id="heading">Payment for your Course Enrollment</p>
    
    <ng-container *ngFor="let cours of course">
          
        <ng-container *ngIf="cours.routerlink==courselink">
            <div class="paypagecard">
                
                <h3>
                  <a style="font-size: 23px;" id="b" [routerLink]="['/course', cours.routerlink]" routerLinkActive="active"><b>{{
                      cours.name}}</b></a>
                </h3>
                <p>{{ cours.description}}</p>
                <p>Duration : {{cours.duration}}</p>
                <a id="b" [routerLink]="['/instructor', cours.author]" routerLinkActive="active">
                  <p>Instructor : {{cours.author | titlecase}}</p>
                </a>
                <p id="price">Price : {{displayprice}}</p>
                <button id="pay" (click)="makePayment(15)">Pay</button>
              </div>
    </ng-container>
</ng-container>
    <div *ngIf="success">
        <h1>Your Payment is complete successfully</h1>
      </div>
      <div *ngIf="failure">
          <h1>Some Error is taken place inside the payment</h1>
      </div>
</body>
</html>