*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(67, 177, 100); */
    background-color: #7dd87d;
    padding: 5px 5%;
    list-style: none;
    width: 1349px;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 0;
    height: 50px;
}
.nav-right {
     
    align-items: center;
    margin-left: 850px;
    margin-top: 00px;
    position:fixed;
}



.nav-right ul a {
    list-style: none;
    display: inline-block;
    margin: 0px;
    
}

.nav-right ul li button {
    width: auto;
    /* margin-right: 10px; */
    font-size: 20px;
    font-weight: 500;
    color: #7f67c0;
    background-color: #7dd87d;
    outline: none;
    margin: 0px;
    border: #7dd87d;
    white-space: normal;
}
.nav-right a:hover{
   
    background-color: #906387;
    transition: 0.7s;
}
.nav-right a{
    width: auto;
    /* margin-right: 10px; */
    font-size: 20px;
    font-weight: 500;
    color: #5b446a;
    background-color: #7dd87d;
    outline: none;
    margin: 0px;
    border: #7dd87d;
    white-space: normal;
    text-decoration: none;
    padding: 10px;
    list-style: none;
    display: inline-block;
    margin-top: 0px;
}
.nav-left {
    display:inline ; 
    align-items: center;
    margin-top: -0px;
}
#logo{
    margin-top: 5px;
    width: 180px;
    height: 55px;
}
@media (max-width: 768px) {

   
}
