<section>
    <nav>
            <div class="nav-left">
                <img id="logo" src="https://i.ibb.co/KFd5FZY/Screenshot-722.png">
            </div>
        <div class="nav-right">
            <ul>
                <a routerLink="user/login" routerLinkActive="active">Login</a>
                <a routerLink="user/register" routerLinkActive="active">Register</a>
                <a routerLink="user/areaofinterest" routerLinkActive="active">Area of Interest</a>
            </ul>
        </div> 
    </nav>
</section>
