<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style></style>
</head>

<body>
  <!-- <h1 id="heading">Courses based on your choice</h1> -->
  <!-- <div class="row"> -->
  <ng-container *ngFor="let course of courses">
    <!-- <div class="column"> -->
    <ng-container *ngIf="course.routerlink=== id">
      <h1 id="heading">{{ course.name }}</h1>

      <form #showForm="ngForm" (ngSubmit)="onSubmit(showForm)">
        <input type="hidden" name="courseid" [(ngModel)]="courseid">
        <input type="hidden" name="userid" [(ngModel)]="userid">
        <div class="grid">
          <div class="card">
            <div id="one">
              <h3>{{ course.name}}</h3>
              <p>{{ course.description }}</p>
              <p><strong>Duration : </strong>{{ course.duration}}</p>
              <a id="b" [routerLink]="['/instructor', course.author]" routerLinkActive="active">
                <p><strong>Instructor : </strong>{{course.author}}</p>
              </a>
              
              <p><strong>Language : </strong>{{course.language}}</p>
              <p><strong>Students Enrolled : </strong>{{course.enrolledstudents}}</p>
            
              <p><strong>Course contents : </strong></p>
              <ng-container *ngFor="let content of coursecontents">
                <li>{{content}}</li><br>
              </ng-container>
             
              
          </div>
          </div>

          <div class="card">
            <div id="two">
              <p id="price">Price Rs. {{course.price}}</p>
              <button id="addtocart">Add to Cart</button><br>
              <input type="submit" id="enroll" value="Enroll"><br><br>
              <h3 >The course includes </h3>
              <ng-container *ngFor="let include of courseincludes">
                <p class="textcolor">{{include}}</p>
              </ng-container>
              <h3 >Course requirements : </h3>
              <ng-container *ngFor="let requirements of courserequirements">
                <li class="textcolor">{{requirements}}</li>
              </ng-container>
            </div>
          </div><br>
          <div class="card">
          <div id="three" class="card">
            <p class="textcolor">Reviews</p>
            </div>
          </div>
        </div>
      </form>

    </ng-container>

  </ng-container>

</body>

</html>