<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style></style>
</head>

<body>
  <h1 id="heading">Courses based on your choice</h1>
  <div class="row">
    <ng-container *ngFor="let course of courses">
      <div class="column">
       
          <ng-container *ngIf="course.routerlink=== id">
            <div class="card">
              <form #showForm="ngForm" (ngSubmit)="onSubmit(showForm)">
                <input type="hidden" name="courseid"  [(ngModel)]="courseid" >
                <input type="hidden" name="userid" [(ngModel)]="userid" >
              <h2>
                <b id="b">{{ course.name | json }}</b>
              </h2>
              <p>{{ course.description }}</p>
              <p>Duration : {{ course.duration}}</p>
              <a id="b"  [routerLink]="['/instructor', course.author]" routerLinkActive="active"><p>Instructor : {{course.author}}</p></a> 
              <p id="price">Rs. {{course.price}}</p>
              <!-- <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating> -->
              <h3>Course Contents:</h3>
              <ng-container *ngFor="let content of course.contents">
                  <p>{{content}}</p>
              </ng-container>
            <input type="submit" id="enroll" value="Enroll" >
            </form>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</body>

</html>