<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style></style>
</head>

<body>
  <!-- <h1 id="heading">Courses based on your choice</h1> -->
  <!-- <div class="row"> -->
  <ng-container *ngFor="let course of courses">
    <!-- <div class="column"> -->
    <ng-container *ngIf="course.routerlink=== id">
      <h1 id="heading">{{ course.name }}</h1>

      <form #showForm="ngForm" (ngSubmit)="onSubmit(showForm)">
        <input type="hidden" name="courseid" [(ngModel)]="courseid">
        <input type="hidden" name="userid" [(ngModel)]="userid">
        <div class="grid">
          <div class="card">
            <div id="one">
              <h3>{{ course.name}}</h3>
              <p>{{ course.description }}</p>
              <p>Duration : {{ course.duration}}</p>
              <a id="b" [routerLink]="['/instructor', course.author]" routerLinkActive="active"><p>Instructor : {{course.author}}</p></a>
              <h3>Course Contents:</h3>
              <ng-container *ngFor="let content of course.contents">
                <p>{{content}}</p>
              </ng-container>
            </div>
          </div>

          <div class="card">
            <div id="two">
              <p id="price">Price Rs. {{course.price}}</p>
              <button id="addtocart">Add to Cart</button>
              <input type="submit" id="enroll" value="Enroll"><br><br><br>
              <h3>The course includes </h3>
              <ng-container *ngFor="let include of course.courseincludes">
                <p>{{include}}</p>
              </ng-container>
            </div>
          </div>
        </div>
      </form>

    </ng-container>
    <!-- </div> -->
  </ng-container>
  <!-- </div> -->
</body>

</html>