#frontbanner{
    width: 100%;
    height: 30vw;
    background-color: var(--purple-color);
    display: inline-block;
}
#logo{
    margin-left: 20%;
    margin-top:13% ;
    font-size: 5vw;
    font-family: 'Montserrat';
    font-weight: 900;
    color: white;
}
#sidetext{
    text-align: right;
    margin-top: -14%;
    margin-left: 60%;
    margin-right: 10%;
    font-size: 2vw;
    justify-content: left;
    line-height: 3vw;
    font-weight: 300;
    font-family: 'Montserrat';
    color: black;
    font-weight: 600;
}
.vl{
        height: 20vw;
        position:absolute;
        border-left: 6px white;
}
.banner{
    width: 101.8%;
    margin-left: -8px;
    height: 30vw;
    background-color: rgb(63, 63, 170);
     display: inline-block; 
     
}
.banner2{
    width: 101.8%;
    margin-left: -8px;
    height: 40vw;
    background-color: rgb(63, 63, 170);
     display: inline-block; 
     
}
#secondtext{
    text-align: right;
    margin-top: -19%;
    margin-left: 60%;
    margin-right: 10%;
    font-size: 2vw;
    justify-content: left;
    line-height: 3vw;
    font-weight: 300;
    font-family: 'Montserrat';
    font-weight: 600;
    color: black;
}
#secondleft{
    margin-left: 10%;
    line-height: 6vw;
    margin-top:13% ;
    font-size: 5vw;
    font-family: 'Montserrat';
    font-weight: 900;
    color: white;
    word-wrap: normal;
    width: 60vw;
}
#thirdleft{
    margin-left: 10%;
    line-height: 6vw;
    margin-top:5% ;
    font-size: 5vw;
    font-family: 'Montserrat';
    font-weight: 900;
    color: white;
    word-wrap: normal;
    width: 60vw;
}
#digital_icon
{   margin-top: 15%;
    margin-left: 30%;
    width: 180px;
    border: 8px orange;
}
#courses{
    width: 80vw;
    margin-left: 10vw;
}
.orange{
    background-color: orange;
}
.blue{
    background-color: rgb(39, 39, 165);
}
.violet{
    background-color: var(--purple-color);
}

.card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    transition: 0.3s;
    width: 19.5vw;
    margin-left: 0;
    border-radius: 7%; 
}
.img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-left: -10px;
    margin: 20px;
    border-radius: 3%;
}

.img:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.6);
}
.container {
    /* padding: 2px 16px; */
    margin-top: -15vh;
    margin-left:15% ;
    color: #ffc107;
    font-size: 2vw;
    font-family: 'Montserrat';
    text-align: center;
    white-space: nowrap;
}
.column {
    float: left;
    width: 29%;
    margin: 1%;
    /* padding: 10 auto; */
    /* display:inline;
    overflow-y: scroll; */
}

.row {
    padding: 30px;
    align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
 margin-left: 15px;
 scroll-behavior: smooth
}
#b{
    color: #ffc107;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.6vw;
}
#slideLeft{
    background-color: red;
    color: white;
    border: 0ch transparent;
    font-size: 40px;
    width: 4%;
    margin: 5px;
    height: fit-content;
    border-radius: 12%;
   float: right;
}
#slideRight{
    background-color: red;
    color: white;
    border: 0ch transparent;
    font-size: 40px;
    width: 4%;
    margin: 5px;
    border-radius: 12%;
   float: right;
   
}
.heading{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 44px;
    margin-top: 60px;
}
#loginbutton
{
    align-items: center;
    font-size: 28px;
    width: 20%;
    height: 15%;
    margin: 30px;
    margin-top: 40px;
    margin-left: 26%;
    border-radius: 6%;
}
#loginbutton2
{
    align-items: center;
    font-size: 28px;
    width: 20%;
    height: 15%;
    margin: 20px;
    border-radius: 6%;
}
.buttonalign{
    margin-left: 26%;
    /* color: ; */
}