<div class="navbar">
   
    <!-- Navbar logo -->
    <div class="nav-header">
      <div class="nav-logo">
        <a href="#">
          <img id="navlogo" src="https://i.ibb.co/72jqJf7/Screenshot-2022-05-09-213341.png" width="100px" alt="logo">
        </a>
      </div>
    </div>
     
    <!-- responsive navbar toggle button -->
    <input type="checkbox" id="nav-check">
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
   
    <!-- Navbar items -->
    <div class="nav-links">
  
      
      <a routerLink="/instructors/instructorCourse" routerLinkActive="active">Dashboard</a>
      <!-- <a routerLink="instructors/areaofinterest" routerLinkActive="active">Courses</a> -->
      <a (click)="onLogout()">Logout</a>
      
      <!-- <button class="loginBtn">Login</button> -->
    </div>
   
  </div>
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style></style>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<body>
<h1 id="heading">Edit Course Details</h1>
<ng-container *ngFor="let course of courses">
    <ng-container *ngIf="course.routerlink===id">
    <div class="card">
        <form #userform="ngForm" class="formOne" (ngSubmit)="onSubmit(userform)">
       <label>Course Name</label><input type="text"  name="name" id="name" #name="ngModel" [(ngModel)]="course.name"><br> 
       <label for="description">Course Descrption</label><textarea name="description"  #descrption="ngModel" [(ngModel)]="course.description"></textarea><br>
       <!-- <label>Course Instructor</label><input type="text" id="author" name="author" #author="ngModel" [(ngModel)]="courseService.selectedCourses.author"><br> -->
       <label>Course Duration</label><input type="text" id="duration" name="duration" #duration="ngModel" [(ngModel)]="course.duration"><br>
       <label>Course Category</label><input type="text" name="category" #category="ngModel"  [(ngModel)]="course.category"><br>
       <label>Course Price</label><input type="number" name="price" #price="ngModel" [(ngModel)]="course.price"><br>
  
<label>Language</label><input type="text" name="language" #language="ngModel"  [(ngModel)]="course.language">
<label>Course Contents</label><textarea name="contents" #contents="ngModel"  [(ngModel)]="course.contents"></textarea><br>
<label>Course Requirements</label><input type="text" name="requirements"  #requirements="ngModel" [(ngModel)]="course.requirements"><br>
<label>Course Overview</label><input type="text" name="courseincludes"  #courseincludes="ngModel" [(ngModel)]="course   .courseincludes"><br>


    <input type="submit" onsubmit="" id="submit" value="Edit Course">
    <span class="glyphicon glyphicon-education"></span>
   


</form>
    </div>

</ng-container>
</ng-container>
</body>

</html>