<div class="navbar">
   
  <!-- Navbar logo -->
  <div class="nav-header">
    <div class="nav-logo">
      <a href="#">
        <img id="navlogo" src="https://i.ibb.co/72jqJf7/Screenshot-2022-05-09-213341.png" width="100px" alt="logo">
      </a>
    </div>
  </div>
   
  <!-- responsive navbar toggle button -->
  <input type="checkbox" id="nav-check">
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
 
  <!-- Navbar items -->
  <div class="nav-links">

    
    <a routerLink="/instructors/instructorCourse" routerLinkActive="active">Dashboard</a>
    <!-- <a routerLink="instructors/areaofinterest" routerLinkActive="active">Courses</a> -->
    <a (click)="onLogout()">Logout</a>
    
    <!-- <button class="loginBtn">Login</button> -->
  </div>
 
</div>
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style></style>
</head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<body>

  <div class="sidebar">
   
    <ul>
      <li><a href="#">Home</a></li>
      <li><a [routerLink]="['/instructorCourse']" routerLinkActive="active">View Courses</a></li>
      <li><a  [routerLink]="['/addcourse']" routerLinkActive="active">Add Course</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>

 
  <h1 id="heading">Courses created by you</h1>
  <div class="card">
  <ng-container *ngFor="let instructor of instructors">
   
    <ng-container *ngIf="instructorid===instructor.instructorid"> 
    <ng-container *ngFor="let course of instructor.instructor_courses">
    
          <div><br><br>
            <a href="/course/{{course.routerlink}}"><h3>{{course.name}}</h3></a>

            <p><strong>Duration : </strong>{{ course.duration}}</p>
            <a id="b" [routerLink]="['/instructor', course.author]" routerLinkActive="active">
              <p><strong>Instructor : </strong>{{course.author  | titlecase}}</p>
            </a>
            <p>Price: {{course.price}}</p>
            <p> Number of Enrollments: {{course.enrolledstudents}}</p>
          </div>
          <div align="right">
            <a class=" updatebutton" href="/updateCourse/{{course.routerlink}}"><i class="fa fa-pencil" style="color: black;  margin-left: 0px" aria-hidden="true"></i> Update Course</a>
            <button class="deletebutton" value="Delete" (click)="delete([course.name],[course.courseid])"><i class="fa fa-trash-o" aria-hidden="true"></i>  Delete Course</button>
          </div>
      
      </ng-container> 
    </ng-container>
  </ng-container>

 

</div>
 <!-- <div class="card">
  <h3 id="enrolled">Enrolled students: </h3>
    
  <ng-container *ngFor="let course of usercourses">
    <ng-container *ngIf="course.author==author">
      <p>{{course.name}}</p>
  <ng-container *ngFor="let uc of course.user_courses">
    <li id="list">{{uc.name}}</li>
  </ng-container>
    </ng-container>
  </ng-container>
 </div> -->
</body>
</html>