
* {
    box-sizing: border-box;
  }
  body{
      margin-top: 100px;
  }
#heading{
    margin-top: 100px;
    text-align: center;
    color: var(--purple-color);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    transition: 0.3s;
     width: 60%;
    display: block;
    padding: 20px;
     margin: auto; 
    align-items: center;
    margin-bottom: 30px;
    border-radius: 3%; 
}
.img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 20px;
    margin: 20px;
}
/* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
    /* width: 404px; *//*   
    text-align: center;
} */
.img:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
.container {
    /* padding: 2px 16px; */
    margin-top: -45%;
    margin-left:15% ;
    color: #ffc107;
    font-size: 17px;
    text-align: center;
    white-space: nowrap;
}
/* .column {
    float: left;
    /* width: 25%; */
    /*padding: 0 auto;
} */

/* .row {
    margin: 0 -5px;
} */

.row:after {
    content: "";
    display: table;
    clear: both;
}
#b{
    
    text-decoration: none;
}
.formOne{
    width: auto;
    align-items: center;
    margin-right: auto;
    margin-top: 7%;
}
.formOne label{
    /* width: auto; */
    margin: auto;
    align-items: center;
    margin-right: 20%;
}
.formOne input{
    margin-right: 20%;
    margin: 10px;
    background-color: rgba(67, 177, 100,0.4s);
    width: 250px;
    height: 30px;
    border-radius: 12px;
    border-color: #2c2b2b57;
    box-shadow: inset;
    color: rgb(63, 58, 58);
    font-size: 19px;
    font-weight: 500;
    text-align: left ;
}
.formOne textarea{
    margin-right: 20%;
    margin: 10px;
    background-color: rgba(67, 177, 100,0.4s);
    width: 250px;
    height: 100px;
    border-width: 2px;
    border-radius: 12px;
    border-color: #2c2b2b57;
    box-shadow: inset;
    color: rgb(63, 58, 58);
    font-size: 19px;
    font-weight: 500;
    text-align: left ;
}
label {
    display: inline-block;
    width: 200px;
    margin: 5px;
    text-align: left;
}
#submit{
    align-items: center;
    background-color: #CCD0D5;
    font-size: 19px;
    color: #050505;
    margin-top: 10px;
    margin-right: 60px;
    text-align: center;
    font-weight: 500;
    padding: auto;
    width: 100px;
    height: 40px;
    position: relative;
    border: #CCD0D5;
    border-radius: 25px;
    box-shadow: inset;
    outline: none;
    overflow: hidden;
}

