<div class="navbar">
   
    <!-- Navbar logo -->
    <div class="nav-header">
      <div class="nav-logo">
        <a href="#">
          <img id="logo" src="https://i.ibb.co/Ph9cJSC/logo-purple.png" width="100px" alt="logo">
        </a>
      </div>
    </div>
     
    <!-- responsive navbar toggle button -->
    <input type="checkbox" id="nav-check">
    <div class="nav-btn" >
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
   
    <!-- Navbar items -->
    <div class="nav-links">
  
      <a routerLink="/user/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/user/areaofinterest" routerLinkActive="active">Courses</a>
      <a (click)="onLogout()">Logout</a>
      <!-- <button class="loginBtn">Login</button> -->
    </div>
   
  </div>
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

    </style>
</head>

<body>
    <h1 id="heading">Choose your area of interest</h1>
    <div class="row">
        <ng-container *ngFor="let areaOfInterest of areaOfInterests">
        <div class="column">
            <div class="card">
                <!-- <img src="https://i.ibb.co/0MTN4KN/web-devolpment.jpg" alt="web-devolpment"> -->
                <img src={{areaOfInterest.imagesrc}} alt="web-devolpment" class="img" style="width:100%">
                <div class="container">
                    <h3><b><a id="b" [routerLink]="['/user/category', areaOfInterest.routerlink]" routerLinkActive="active">{{areaOfInterest.name}}</a></b></h3>
                    <!-- <p></p>  -->
                </div>
            </div>
        </div>
    </ng-container>
    </div>

</body>

</html>