*{
    list-style: none;
}

.sidebar{
    text-decoration: none;
    list-style: none;
    margin-top: -100px;
    position:fixed;
    left:8px;
    width: 200px;
    height: 100%;
    background-color: #3E497A;
    transition: all 0.5s ease;
    position: fixed;
     /* z-index: -100;  */
}
.sidebar header{
    font-size: 22px;
    color: blueviolet;
    text-align: center;
    line-height: 70px;
    background-color: aqua;
    user-select: none;
}
.sidebar ul {
    margin-top: 100px;
}
.sidebar ul a{
    display: block;
    height: 100%;
    list-style: none;
    text-decoration: none;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    /* color: #F4F81C; */
    color: white;
    /* padding-left: 20px; */
    box-sizing: border-box;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: 0.4s;
     /* z-index: 1;  */
}
ul li:hover a{
    padding-left: 40px;
    /* z-index: 1; */

}
.sidebar ul a i{
    margin-right: 16px;
}
#heading{
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--purple-color);
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
}

.card {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); 
    transition: 0.3s;
     width: 75%;
    display: block;
    padding: 20px;
     margin: auto; 
    align-items: center;
    margin-bottom: 30px;
    border-radius: 2%; 
    margin-left: 245px;
}
h2{
    margin-left: 245px;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--purple-color);
    font-weight: 500;
}
h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 21px;
    padding-bottom: 12px;
}
#b{
    
    text-decoration: none;
}