*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

label {
    display: inline-block;
    width: 200px;
    margin: 5px;
    text-align: left;
}

button {
    padding: 10px;
    margin: 10px;
} */
.main{
    padding-top: 25px;
    margin-right: 35px;
    height: 596px;
     background-color: #F7F8FA;
     color:#7f67c0;
    }
.main h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    color:#7f67c0;
}
#button {
    align-items: center;
    background-color: #CCD0D5;
    font-size: 19px;
    color: #050505;
    margin-top: 10px;
    margin-right: 60px;
    text-align: center;
    font-weight: 500;
    padding: auto;
    width: 100px;
    height: 40px;
    position: relative;
    border: #CCD0D5;
    border-radius: 25px;
    box-shadow: inset;
    outline: none;
    overflow: hidden;
}
.formOne{
    font-weight: 500;
    font-size: 19px;
    margin-right: 50px;
    align-items: center;
    padding: 30px;
    width: 490px;
    background-color: #F7F8FA;
    border-radius: 3%;
    margin-top: -30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
/* .formOne input{
    margin: 10px;
    background-color: rgba(67, 177, 100,0.4s);
    width: 250px;
    height: 30px;
    border-radius: 12px;
    border-color: #2c2b2b57;
    box-shadow: inset;
    color: rgb(63, 58, 58);
    font-size: 19px;
    font-weight: 500;
    text-align: left ;
} */
.formOne label{
    color:#5b446a;
    display: inline-block;
    width: 200px;
    margin: 5px;
    text-align: left;
}
.main h2{
    color:#7f67c0;
     text-align: left; 
    margin-left: 300px
}
.main h1{
    margin-top: 30px;
    text-align: left;
    margin-left: 250px;
    color:#7f67c0;
}

.error
{
    font-size: 19px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
    margin-right: 80px;
}
.confirmpassworderror{
    font-size: 19px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
    margin-right: 40px;

}
.name
{
    margin: 10px;
    background-color: rgba(67, 177, 100,0.4s);
    width: 250px;
    height: 30px;
    border-radius: 12px;
    border-color: #2c2b2b57;
    box-shadow: inset;
    color: rgb(63, 58, 58);
    font-size: 19px;
    font-weight: 500;
    text-align: left ;
    
}
.invalid-textbox{
    margin: 10px;
    background-color: rgba(67, 177, 100,0.4s);
    width: 250px;
    height: 30px;
    border-radius: 12px;
    /* border-color: #2c2b2b57; */
    box-shadow: inset;
    color: rgb(63, 58, 58);
    font-size: 19px;
    font-weight: 500;
    text-align: left ;
    border-color: red;
}
.age
{
    margin: 10px;
    background-color: rgba(67, 177, 100,0.4s);
    width: 250px;
    height: 30px;
    border-radius: 12px;
    border-color: #2c2b2b57;
    box-shadow: inset;
    color: rgb(63, 58, 58);
    font-size: 19px;
    font-weight: 500;
    text-align: left ;
}
.email{
    margin: 10px;
    background-color: rgba(67, 177, 100,0.4s);
    width: 250px;
    height: 30px;
    border-radius: 12px;
    border-color: #2c2b2b57;
    box-shadow: inset;
    color: rgb(63, 58, 58);
    font-size: 19px;
    font-weight: 500;
    text-align: left ;
}
.password
{
    margin: 10px;
    background-color: rgba(67, 177, 100,0.4s);
    width: 250px;
    height: 30px;
    border-radius: 12px;
    border-color: #2c2b2b57;
    box-shadow: inset;
    color: rgb(63, 58, 58);
    font-size: 19px;
    font-weight: 500;
    text-align: left ;
}
.confirmpassword
{
    margin: 10px;
    background-color: rgba(67, 177, 100,0.4s);
    width: 250px;
    height: 30px;
    border-radius: 12px;
    border-color: #2c2b2b57;
    box-shadow: inset;
    color: rgb(63, 58, 58);
    font-size: 19px;
    font-weight: 500;
    
}
#image{
    /* width: 400px;
    height: 600px; */
    margin-left: 50px;
    margin-top: -500px;
    padding: 0px;
    border-radius: 3%;
    margin-bottom: 0px;
    /* position:fixed; */
}
#logo{
    width: 200px;
    align-self: center;
    margin-right: 120px;
    margin-bottom: 15px;
  
}
#submit{
    align-items: center;
    background-color: #CCD0D5;
    font-size: 19px;
    display: inline-flex;
    color: #050505;
    margin-top: 0px;
    margin-right: 100px;
    text-align: center;
    font-weight: 500;
    padding: auto;
    display: inline;
    width: 100px;
    height: 40px;
    position: relative;
    border: #CCD0D5;
    border-radius: 25px;
    box-shadow: inset;
    outline: none;
    overflow: hidden;

}
.success{
    align-items: center; 
    background-color: #CCD0D5;
    font-size: 19px;
    /* display: inline-flex; */
    color: #050505;
    font-weight: 500;
    border-radius: 25px;
    box-shadow: inset;
    outline: none;
    overflow: hidden;
    width: 200px;
    height: 35px;
    text-align: center;
    margin-left: 300px;
    margin-top: -30px;
    transition: 0.7s;
}
.servererror{
    align-items: center; 
    background-color: #CCD0D5;
    font-size: 19px;
    /* display: inline-flex; */
    color: #050505;
    font-weight: 500;
    border-radius: 25px;
    box-shadow: inset;
    outline: none;
    overflow: hidden;
    width: 450px;
    height: 35px;
    text-align: center;
    margin-left: 150px;
    margin-top: -30px;
    
}